<!DOCTYPE html>
<html>
<head>
  <title>Testyoutube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%=javascript_tag do%>
  // Your use of the YouTube API must comply with the Terms of Service:
// https://developers.google.com/youtube/terms


// Helper function to display JavaScript value on HTML page.
function showResponse(response) {
    var responseString = JSON.stringify(response, '', 2);
    document.getElementById('response').innerHTML += responseString;
    document.getElementById('response').innerHTML += "hello";
}

// Called automatically when JavaScript client library is loaded.
function onClientLoad() {
    gapi.client.load('youtube', 'v3', onYouTubeApiLoad);
}

// Called automatically when YouTube API interface is loaded (see line 9).
function onYouTubeApiLoad() {
    // This API key is intended for use only in this lesson.
    // See http://goo.gl/PdPA1 to get a key for your own applications.
    gapi.client.setApiKey('AIzaSyDk-idfLTwbRbMMZF9hB-xNMDDT8K3ojP8');
    
    // Add code here to test out showResponse():
    search();
}


function search() {
    // Use the JavaScript client library to create a search.list() API call.
    var request = gapi.client.youtube.search.list({
        part: 'statistics',
        q: "Let's Play",
        type: "playlist"
    });
    
    // Send the request to the API server,
    // and invoke onSearchRepsonse() with the response.
    request.execute(onSearchResponse);
}

// Called automatically with the response of the YouTube API request.
function onSearchResponse(response) {
    showResponse(response);
}


  <%end%>
  <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript">
  </script>
</head>
<body>
<p> Loaded </p>
        <pre id="response"></pre>

</body>
</html>
